.monitor-user-selector-v3 {
  &.bk-user-selector.user-selector {
    height: unset;
  }

  .tag-list {
    row-gap: 4px;
  }

  .user-selector-tag-item {
    display: flex;
    align-items: center;

    .user-selector-tag-prefix {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 16px;
      height: 16px;
      margin-right: 4px;

      .icon-monitor {
        color: #979ba5;
      }

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}

.bk-user-selector-popover {
  padding: 0 !important;

  .user-selector-list-item {
    display: flex;
    align-items: center;
    min-width: 0;

    .user-selector-list-prefix {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 24px;
      height: 24px;
      margin-right: 4px;

      .icon-monitor {
        font-size: 24px;
        color: #979ba5;
      }

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .user-selector-list-main {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .user-selector-list-item-name {
        color: #26323d;
      }
    }
  }
}
