/**
 * Log Icon 样式文件
 */
.log-icon {
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.log-svg-icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
